.customNavBrand {
  font-size: 2rem;
  padding: 0 15px 0 0;
  height: 100%;
  margin: 0;
}

.searchBoxContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .searchBox {
    width: 60vw;

    &:before {
      content: "";
      box-sizing: border-box;
      border-left: 1px solid gray;
      margin-right: 20px;
    }

    input {
      border: none;
      outline: none;
      width: 80%;
    }
  }
}

@media screen and (min-width: 768px) {
  .cultureForU::before {
    content: "";
    border-left: 1px solid gray;
    margin-right: 15px;
  }
}

@media screen and (max-width: 1400px) {
  .customNavBrand {
    font-size: 1.5rem;
  }

  .searchBoxContainer {
    .searchBox {
      width: 60vw;
    }
  }
}
@media screen and (max-width: 1024px) {
  .customNavBrand {
    font-size: 1.5rem;
  }

  .searchBoxContainer {
    .searchBox {
      width: 40vw;
    }
  }
}

@media screen and (max-width: 720px) {
  .customNavBrand {
    font-size: 1.3rem;
    padding: 0;
  }

  .searchBoxContainer {
    padding: 0 0 0 15px;
    .searchBox {
      width: auto;
    }
  }
}

@media screen and (max-width: 390px) {
  .searchBoxContainer {
    .searchBox {
      input {
        width: 100px;
      }
    }
  }
}

@media screen and (max-width: 310px) {
  .searchBoxContainer {
    .searchBox {
      input {
        width: 50px;
      }
    }
  }
}
