.customNavBrand {
  font-size: 2rem;
  padding: 0 15px 0 0;
  height: 100%;
}

.searchBoxContainer {
  display: flex;
  align-items: center;

  .searchBox {
    &:before {
      content: "";
      box-sizing: border-box;
      border-left: 1px solid gray;
      margin-right: 20px;
    }

    input {
      border: none;
      outline: none;
      width: 70vw;
    }
  }
}

@media screen and (min-width: 768px) {
  .cultureForU::before {
    content: "";
    border-left: 1px solid gray;
    margin-right: 15px;
  }
}

@media screen and (max-width: 1400px) {
  .customNavBrand {
    font-size: 1.5rem;
  }

  .searchBoxContainer {
    .searchBox {
      input {
        width: 60vw;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .customNavBrand {
    font-size: 1.5rem;
  }

  .searchBoxContainer {
    .searchBox {
      input {
        width: 40vw;
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .customNavBrand {
    font-size: 1.3rem;
  }

  .searchBoxContainer {
    .searchBox {
      input {
        width: 20vw;
      }
    }
  }
}
